<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    
    <link href="/impres_css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <a class="navbar-brand" href="/impres">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-row-reverse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/impres/info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/impres/job">New Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/impres/tutorial">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/impres/tool">Tools</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">


      
        <!-- Example row of columns -->
       
            
            <h2 class="text-center">What is IMPRes</h2>
            <p class="text-justify">A central goal of systems biology is to uncover the underlying functional architecture of the cell and study its mechanisms. To this end, large amounts of omics data are being rapidly generated, and a focus of bioinformatics research has been towards integrating these data to identify active pathways or modules under certain conditions. Many bioinformatics algorithms include optimization methods, statistical methods, and methods using interaction network topology attributes have been applied for this. Although biologically significant modules can often be detected globally by these methods, it is hard to interpret or make use of the results towards in silico hypothesis generation and testing.</P>
            <P class="text-justify">IMPRes is a step-wise active pathway detection method using a dynamic programming approach. It takes advantage of the existing pathway interaction knowledge in KEGG to build a background network. Multiple omics data are then used to assign penalties to genes, interactions and pathways. Finally, starting from one or multiple seed genes, a shortest path algorithm is applied to detect pathways that best explain the variations of genes downstream. Since dynamic programming enables the detection one step a time, it is easy for biomedical researchers to trace the pathway and study the mechanism more precisely.</p>
            <P class="text-justify">This web server is established to offer a simple interface for applying IMPRes. Users can upload their own data and obtain an interactive visualization of the resulting pathway map. Users can further filter or highlight interactions according to pathway information or relation types. All genes in the pathway map are listed with detailed annotations. The aim is to generate hypotheses and reduce the scope of following experiments to evaluate the potential new knowledge. </P>

            
        

        

     

    </main>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <!--<script src="../../../../assets/js/vendor/popper.min.js"></script>-->
    <!--<script src="../../../../dist/js/bootstrap.min.js"></script>-->
  </body>
</html>
